.heading {
    text-align: center;
    color: blue;
}

.color-class1{
    color: #0a0a0a;
    background-color: #8aeeee;
    font: 1em sans-serif;
}

.color-class2{
    color: #27a123;
    background-color: #09fcdb;
    font: 1em sans-serif;
}

.color-class3{
    color: #8b24e0;
    background-color: #f0ffff;
    font: 1em sans-serif;
}

.color-class4{
    color: #0004ff;
    background-color: #12dbdb;
    font: 1em sans-serif;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid #15ff00;
    padding: 10px;
  }